
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-action="ImportExcel" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name="file" />
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>