html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.condition {
    float: left !important;
}

.tableResult{
    width:100%;
    text-align:center;
}

.chart {
    padding: 30px;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgb(189, 189, 189) 0px 0px 10px;
    background: #fff;
}

.hidden{
    display:none;
}
